body {
   
    background-color: #f9f9f9ea; /* Um tom de cinza muito claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
header {
text-align: center;
padding: 2rem;
}


h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}
  



p {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size:  0.875rem; /* Reduzido de 1.2rem para 1rem */
    color: #555;
    max-width: 800px;
    margin: 1rem auto 0;
    line-height: 1.6;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

button {
    padding: 0.8rem 1.5rem;
    border: 2px solid rgb(216, 156, 216);
    background-color: transparent;
    color: rgb(216, 156, 216);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(216, 156, 216);
    color: white;
    border-radius: 8px;
}

.gallery {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.gallery img {
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
